{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}meteora/meteora.js"></script>
{% endblock %}
{% block menu %}
    {% if cont.Name %}
        <li><a href="{% url "DelCont" cont.Name %}">删除</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>{% firstof cont "添加"%}</h2>
    {{form.as_p}}
    <input type="submit" value="提交">
</form>
<script language="javascript">
    Meteora.uses('Meteora.Calendar');
    settings={
        'format':         '%Y-%m-%d %H:%i',
        'minYear':        2005,
        'maxYear':        2010,
        'showHour':       true,
        'showMinute':     true,
        'showMeridiem':   true
    }
    Meteora.onStart(
            function () {
    new Calendar('id_Start',settings);
    new Calendar('id_End',settings);
            }
            )
</script>
{% endblock %}